<div class="small">
<div class="md-form active-pink-2 mb-3">
  <i class="fa fa-search" style="font-size:200%; color:black; position: absolute; margin-top: .4%;"></i>
  <form (keyup)="onsearch(searchstr, searchpara)" >
  <input [(ngModel)]="searchstr" class="form-control" type="text"  placeholder="Search" name="ser">
  <select  [(ngModel)]="searchpara" class="form-control select" name="searchparameter">
        <option>firstname</option>
        <option>lastname</option>
        <option>email</option>
  </select>
  </form>
</div>
</div>
<div class="container">
  <ul class="pagination">
   <li class="page-item "><a  style="color:black;" (click)="prev()">Previous</a></li>
   <li class="page-item"><a  style="color:black;" (click)="next()">Next</a></li>
  </ul>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of display">
        <td>{{data.firstname}}</td>
        <td>{{data.lastname}}</td>
        <td>{{data.email}}</td>
      </tr>
    </tbody>
  </table>
</div>
